/* PHASE 7: Online */
.online{
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    margin: 25px 15px 10px 10px;
    left: -35px;

    height: 20px;
    width: 130px;
    background-color: chartreuse;

    transform: rotate(320deg);

    box-shadow: 1px 3px 3px 1px black;
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: bold;
}

.profile-picture{
    overflow: hidden;  
}